.bk-root .bk-bs-btn-success {
color: #FDFEFE;
background-color: #3e218c;
border-color: #21618C;
font-size : 20px;
}
.bk-root .bk-bs-btn-success:focus {
color: #FDFEFE;
background-color: #218c36;
border-color: #21618C;
}
.bk-root .bk-bs-btn-success:active {
color: #FDFEFE;
background-color: #21618C;
border-color: #21618C;
}
.bk-root .bk-bs-btn-success:hover {
color: #FDFEFE;
background-color: #5DADE2;
border-color: #5DADE2;
}
body {
    background-color: lightblue;
	background-color: blue;
	background-color: yellow;
	background-color: lightgray;
}
h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}